<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Importinox - Importação e Exportação de Metais, LDA</title>
<!-- Style -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/slicknav.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet">
<!-- Favicon -->
<link rel="shortcut icon" href="img/favicon.ico">
<!-- Core CSS file -->
<link rel="stylesheet" href="css/photoswipe.css"> 
<link rel="stylesheet" href="css/default-skin/default-skin.css"> 
<script src="js/jquery.js"></script>