	<section class="toparea">
	<div class="container">
		<div class="row">
			<div class="col-xs-4 top-text pull-left animated fadeInLeft" style="z-index:10;">
				<a href="tel:+351229478710" target="_top"><i class="icon-phone"></i>
				<span class="top-contacts"> (+351) 229 478 710 </span></a>
				<span class="separator"></span>
				<a href="mailto:info@importinox.com" target="_top"><i class="icon-envelope"></i>
				<span class="top-contacts"> info@importinox.com</span></a>
			</div>
			<div class="col-xs-4 top-text animated fadeInUp qren_logos" >
					<img id="logo_on2" src="img/logos/on2_bw_1.svg" width="auto" height="56" >
					<img id="logo_qren" src="img/logos/qren_bw_1.svg" width="auto" height="80" >
					<img id="logo_eu" src="img/logos/eu_bw_1.svg" width="auto" height="35" >
			</div>
			<div class="col-xs-4 text-right animated fadeInRight social" >
				<div class="social-icons">
					<a class="icon icon-facebook" href="https://www.facebook.com/importinox"></a>
					<a class="icon icon-linkedin" href="https://www.linkedin.com/company/importinox"></a>
					<a class="icon icon-twitter" href="#"></a>
					<a class="icon icon-skype" href="#"></a>
					<a class="icon icon-google-plus" href="https://plus.google.com/116108847491069039815/posts"></a>
				</div>
			</div>
		</div>
	</div>
	</section>