	<section id="jumpfooter">
	<div class="footer">
		<div class="container animated fadeInUp notransition">
			<div class="row" style="/*margin-left: -30px; margin-right: -40px;*/">
				<div class="col-md-3 col-sm-6" style="/*padding-left: 0px; padding-right: 0px; margin-right: 40px;*/">
					<a style="float: none;" class="navbar-brand logo-nav" href="index.php" ><img src="img/logo4.png" alt="logo" style="margin: 10px 0px 30px -10px;"></a>
					<p >
						<strong>Telefone: </strong> (+351) 229 478 710<br>
						<strong>Fax: </strong> (+351) 229 478 719<br>
						<strong>Email: </strong> info@importinox.com
					</p>
					</br>
					<p style="font-family:eurostile_extended_2regular;">
						<a href="img/cond_vendas.pdf"><i class="icon-list-ul"></i>&nbsp;Condições Gerais de Venda</a>
					</p>	
				</div>
				<div class="col-md-3 col-sm-6">
					<h1 class="title">Visite<span class="font100">-nos</span></h1>
					<div class="footermap">
						<p> Rua Maria Custódia Pereira da Silva, 24<br>
							Zona Industrial da Maia I, Sector IV<br>
							Apartado 6080 Tecmaia<br>
							4470-461 Maia - Portugal
						</p>
						
						<p><strong>GPS: </strong> 41º15'23N & 8º38'27W</p>						
						<p><a target="_blank" href="http://maps.google.com/maps?f=d&source=s_d&saddr=&daddr=IMPORTINOX %4041.256565,-8.641117&hl=pt-PT&geocode=&mra=mift&sll=41.255968,-8.63888&sspn=0.005033,0.011319&ie=UTF8&t=h&ll=41.256767,-8.641112&spn=0.005033,0.011319&z=17"><i class="icon-map-marker"></i>&nbsp;Google Maps</a></p>
						<ul class="social-icons list-soc">
							<li><a href="https://www.facebook.com/importinox"><i class="icon-facebook"></i></a></li>
							<li><a href="https://www.linkedin.com/company/importinox"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="https://plus.google.com/116108847491069039815/posts"><i class="icon-google-plus"></i></a></li>
							<li><a href="#"><i class="icon-skype"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6" style="/*padding-left: 0px; margin-right: 40px;*/">
					<h1 class="title">Download <span class="font100">Catálogos</span></h1>
					<div class="footermap">
						<a href="img/IMPORTINOX_ChapaPerfurada.pdf"><div class="avatar">
								<img style="border-radius: 0;" src="img/cat1.png" alt="avatar">
						</div></a>
						<p style="font-family:eurostile_extended_2regular;">
						</br>
							 <a href="img/IMPORTINOX_ChapaPerfurada.pdf">Chapa Perfurada</a>
							 </br>
							 </br>
						</p>
						<a href="img/IMPORTINOX_Fixacao.pdf"><div class="avatar">
								<img  style="border-radius: 0;" src="img/cat2.png" alt="avatar">
						</div></a>
						<p style="font-family:eurostile_extended_2regular;">
							</br>
							<a href="img/IMPORTINOX_Fixacao.pdf">Fixação</a>
							</br>
							</br>
						</p>
						<a href="img/IMPORTINOX_Apresentacao.pdf"><div class="avatar">
								<img  style="border-radius: 0;" src="img/cat3.png" alt="avatar">
						</div></a>
						<p style="font-family:eurostile_extended_2regular;">
							</br>
							<a href="img/IMPORTINOX_Apresentacao.pdf">Folheto Institucional</a>
						</p>
					</div>
					<div class="clearfix">
					</div>
				</div>
				<div class="col-md-3 col-sm-6" style="/*margin-left: -80px;*/">
					<h1 class="title">Contacte<span class="font100">-nos</span></h1>
					<div class="done">
						<div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">×</button>
							A sua mensagem foi enviada. Obrigado!
						</div>
					</div>
					<form method="post" action="contact.php" id="contactform">
						<div class="form">
							<input class="col-xs-6" type="text" name="name" placeholder="Nome">
							<input class="col-xs-6" type="text" name="company" placeholder="Empresa">
							<input class="col-xs-12" type="text" name="email" placeholder="E-mail">
							<textarea class="col-xs-12" name="comment" rows="3" placeholder="Mensagem"></textarea>
							<input type="submit" id="submit" class="btn" value="Enviar">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<p id="back-top">
		<a href="#top"><span></span></a>
	</p>
	<div class="col-xs-12 copyright"  style="height: 50px;">
		<p class="pull-left">&copy; Copyright 2014 Importinox, Lda.</p>
		<img class="footerlogos" src="img/logos/25anos_color.svg" width="auto" height="40"  style="margin-top:8px;">
		<img class="footerlogos" src="img/logos/iso9001_color.svg" width="auto" height="45" >
		<img class="footerlogos" src="img/logos/pmelider_color.svg" width="auto" height="40" style="margin-top:7px;">
		<img class="footerlogos" src="img/logos/pmeexcelecia_color.svg" width="auto" height="40" style="margin-top:7px;">
	</div>
	</section>